<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss} [%thread] [%logger{36}] [%-5level] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="me.rotemfo" level="INFO"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="org.apache.spark.storage" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>